* {
    box-sizing: border-box !important;
    user-select: none;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E9EAF0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}